// _colors.scss

// Celestial Blues
$ocean-spray: #6ec1e4;
$angel-white: #f5fcff;
$baby-blue: #9edff2;
$deep-navy: #000080;
$electric-indigo: #7DF9FF;
$royal-reign: #4169E1;
$twilight-indigo: #4B0082;
$sapphire-skies: #0F52BA;
$denim-days: #1560BD;
$skyward-blue: #87CEEB;
$cobalt-current: #0047AB;

// Enchanted Greens
$grasshopper: #4caf50;
$lime-zest: #8bc34a;
$emerald-jewel: #50C878;
$sage-whisper: #9EA587;
$olive-harvest: #808000;
$turquoise-oasis: #40E0D0;
$deep-forest: #228B22;
$lime-spritz: #32CD32;
$jungle-depths: #006400;
$seafoam-surf: #71EEB8;
$deep-lagoon: #008B8B;
$teal-temptation: #008B8B;