// _colors.scss

// Celestial Blues
$ocean-spray: #6ec1e4;
$angel-white: #f5fcff;
$baby-blue: #9edff2;
$deep-navy: #000080;
$electric-indigo: #7DF9FF;
$royal-reign: #4169E1;
$twilight-indigo: #4B0082;
$sapphire-skies: #0F52BA;
$denim-days: #1560BD;
$skyward-blue: #87CEEB;
$cobalt-current: #0047AB;

// Enchanted Greens
$grasshopper: #4caf50;
$lime-zest: #8bc34a;
$emerald-jewel: #50C878;
$sage-whisper: #9EA587;
$olive-harvest: #808000;
$turquoise-oasis: #40E0D0;
$deep-forest: #228B22;
$lime-spritz: #32CD32;
$jungle-depths: #006400;
$seafoam-surf: #71EEB8;
$deep-lagoon: #008B8B;
$teal-temptation: #008B8B;

// Radiant Reds and Pinks
$wine-cellar: #800020;
$blood-red: #8B0000;
$tropical-coral: #FF7F50;
$crimson-romance: #DC143C;
$rose-petal: #FF66B2;
$powder-pink: #FADADD;
$cranberry-crush: #DB5079;
$blushing-pink: #F4AFAF;
$coral-kiss: #F88379;
$hot-pink-passion: #FF69B4;
$dusty-rose: #C79791;
$dark-red: #8B0000;

// Golden Yellows and Oranges
$sunflower: #ffeb3b;
$glimmering-gold: #FFD700;
$golden-mustard: #E1AD01;
$autumn-rust: #D2691E;
$sunset-orange: #CC5500;
$amber-glow: #FFBF00;
$intense-orange: #FF8C00;
$tangerine-twist: #FFA07A;
$golden-rod: #DAA520;
$buttercup-yellow: #FDFD96;
$golden-yellow: #FFDF00;

// _colors.scss

// Elegant Purples
$amethyst: #9370DB;
$velvet-maroon: #800000;
$lavender-dream: #E6E6FA;
$plum-perfection: #8E4585;
$aubergine: #614051;
$magenta-mystery: #FF00FF;
$eggplant: #614051;
$deep-teal: #008B8B;
$midnight-waltz: #191970;
$bright-purple: #BE03FD;

// Earthy Browns, Tans, and Grays
$shiny-silver: #C0C0C0;
$desert-sand: #F5F5DC;
$sage-whisper: #9EA587;
$olive-harvest: #808000;
$khaki-canvas: #F0E68C;
$charcoal-night: #36454F;
$slate-stone: #708090;
$whipped-cream: #FFFDD0;
$sun-kissed-tan: #D2B48C;
$timeless-taupe: #483C32;
$navy-blueberry: #003C71;
$chocolate-bliss: #3D1A00;
$rich-chocolate-brown: #3D1A00;
$ivory-tower: #FFFFF0;
$cream: #FFFDD0;

// Mixed and Unique Shades
$ancient-bronze: #CD7F32;
$champagne-mist: #F7E7CE;
$teal-treasure: #008080;
$peach-sorbet: #FFDAB9;
$seafoam-green: #98FF98;
$burnt-sienna: #E97451;
$pale-blue: #AFEEEE;
$rich-navy-blue: #003C71;
$vintage-wine: #722F37;
$denim-blue: #1560BD;
$pastel-yellow: #FDFD96;
$blush-pink: #F4AFAF;
$coral-pink: #F88379;
$wine-red: #722F37;
$chartreuse: #7FFF00;
$burnt-orange: #CC5500;
$electric-blue: #7DF9FF;
$sky-blue: #87CEEB;
$forest-green: #228B22;
$cranberry: #DB5079;
$sapphire-blue: #0F52BA;
$bright-blue: #0000FF;
