// _presets.scss
@import "colors";

$presets: (
  "Default": (
    primary: tidal-wave,
    secondary: angelic-white,
    tertiary: enchanted-forest,
    quaternary: sunshine-yellow,
    light: gentle-sky,
    accent: jade-garden
  ),
  // Add your other presets here
  "Whimsical Dream": (
    primary: cerulean-wave,
    secondary: cloud-white,
    tertiary: leprechaun-grove,
    quaternary: sunburst,
    light: skyward-blue,
    accent: mint-julep
  ),
  "Nautical Treasure": (
    primary: deep-sea,
    secondary: aureate,
    tertiary: amethyst,
    quaternary: silversmith,
    light: emerald-bay,
    accent: coral-reef
  ),
);

@function get-preset-color($preset, $color-name) {
  $color-id: map-get(map-get($presets, $preset), $color-name);
  @return get-color($color-id);
}
